body {
  padding: 0px;
  margin: 0px;
}

.kkk {
  margin-left: 1em;
}
.chart1 {
  width: 50em;
  height: 30em;
  /* padding-right: 2%; */
  /* position: relative;
  bottom: 250px; */
}

.map1 {
  width: 40em;
  /* margin-top: 2%; */
  height: 25em;
  /* float: right; */
}
