body {
  padding: 0px;
  margin: 0px;
  margin-right: 10%;
  overflow-x: hidden;
  background-color: #3c3939;
  color: white;
  z-index: -1;
}
h3 {
  text-align: center;
}
.kkk {
  margin-left: 7em;
}
.chart1 {
  width: 45em;
  height: 25em;
  margin-left: 20px;
  margin-top: 60px;
  /* padding-right: 2%; */
  /* position: relative;
  bottom: 250px; */
}

.map1 {
  width: 30em;
  /* margin-top: 2%; */
  height: 20em;
  /* float: right; */
}

.humiditya {
  margin-left: 8em;
}

.humidityz {
  margin-left: 2.3em;
}

/* #chart_div {
  margin-left: 4em;
}
#chart_div2 {
  margin-left: 4em;
} */
/* }*/
.seplabel {
  margin-left: 4em;
}

.seplabel2 {
  margin-left: 3em;
}
